# My development files :)
*.sublime-project
*.sublime-workspace

# Do not share your discord bot tokens online!!!!
token.json

# Stores users and their preferences/data that the bot tracks.
playerdata/*.json

*.swp
